.container{
    font-family: cursive;
    font-size: 13px;
}

.webse{
    text-align: center;
    color: red;
    text-decoration: underline;
}
form{
    
}
.Regpage{
    color: red;
    text-align: center;
}